Name:-Dhyey Shah

Project 2 Diabetes Detection

Subject:-  1stop Machine Learning

In [2]:
#import the libraries
import pandas as pd

In [3]:
#import datasets
dataset = pd.read_csv("Diabities.csv")

In [4]:
dataset.head()

   Pregnancies  Glucose  blood pressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148              72  ...                     0.627   50        1
1            1       85              66  ...                     0.351   31        0
2            8      183              64  ...                     0.672   32        1
3            1       89              66  ...                     0.167   21        0
4            0      137              40  ...                     2.288   33        1

[5 rows x 9 columns]

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               766 non-null    int64
 1   Glucose                   766 non-null    int64
 2   blood pressure            766 non-null    int64
 3   skin thickness            766 non-null    int64
 4   Insulin                   766 non-null    int64
 5   BMI                       766 non-null    float64
 6   DiabetesPedigreeFunction  766 non-null    float64
 7   Age                       766 non-null    int64
 8   Outcome                   766 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.0 KB

In [6]:
dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
blood pressure              0
skin thickness              0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
X = dataset.iloc[: , : -1]
y = dataset.iloc[: , -1]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.6)

In [9]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 6, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)
acc2 = round(accuracy_score(y_test,y_pred), 2)* 100
acc2

72.0

In [11]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver = 'lbfgs' , max_iter=1000)
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
accuracy_score(y_test,y_pred)

0.7913043478260869

In [12]:
#K Neighbor classifiers
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_test,y_pred)

0.7239130434782609